$code-font-size: 0.9em !default;
$code-color: #f8f8f2 !default;
$code-background: #171f2e !default;
$gray: #cacaca !default;
$code-font-family: Consolas, Monaco, Menlo, "DejaVu Sans Mono",
 "Bitstream Vera Sans Mono", "Courier New", monospace !default;

code, pre {
    padding: 7px;
    font-size: $code-font-size;
    font-family: $code-font-family;
    background: $code-background;
}

:not(pre) > code {
    color: var(--inline-code-color);
    background: var(--inline-code-background);
}
  
code {
    padding: 3px 5px;
    border-radius: 4px;
    color: $code-color;
}
  
pre > code {
    display: block;
}

.highlight > .chroma {
    margin: 1em 0;
    border-radius: 5px;
    overflow-x: auto;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
    position: relative;
    background: $code-background;
  
    code {
      padding: 0;
    }
  
    table {
      position: relative;
      border: none;
  
      &::after {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        padding: 2px 7px;
        font-size: $code-font-size;
        font-weight: bold;
        color: #b1b1b1;
        background: darken($code-background, 3%);
        content: 'Code';
      }
    }
  
    @each $sign, $text in $code-type-list {
      &.#{$sign} > table::after {
        content: $text;
      }
    }
  
    .lntd {
      // Fix code block null line height and
      // Synchronous gutter and code line highly.
      line-height: round($code-font-size * 1.5);
  
      &:first-child {
        width: 10px;
  
        pre {
          margin: 0;
          padding: 30px 7px 10px;
        }
      }
  
      &:last-child {
        vertical-align: top;
  
        pre {
          margin: 0;
          padding: 30px 10px 10px;
        }
      }
    }
  
    table, tr, td {
      margin: 0;
      padding: 0;
      width: 100%;
      border-collapse: collapse;
      border: none;
    }

    /* Error */  .err { color: #960050; background-color: #1e0010 }
    /* LineHighlight */  .hl { display: block; width: 100%;background-color: black }
    /* LineNumbersTable */  .lnt { padding: 0 0.4em 0 0.4em;color: #7f7f7f }
    /* LineNumbers */  .ln { padding: 0 0.4em 0 0.4em;color: #7f7f7f }
    /* Keyword */  .k { color: #66d9ef }
    /* KeywordConstant */  .kc { color: #66d9ef }
    /* KeywordDeclaration */  .kd { color: #66d9ef }
    /* KeywordNamespace */  .kn { color: #f92672 }
    /* KeywordPseudo */  .kp { color: #66d9ef }
    /* KeywordReserved */  .kr { color: #66d9ef }
    /* KeywordType */  .kt { color: #66d9ef }
    /* NameAttribute */  .na { color: #a6e22e }
    /* NameClass */  .nc { color: #a6e22e }
    /* NameConstant */  .no { color: #66d9ef }
    /* NameDecorator */  .nd { color: #a6e22e }
    /* NameException */  .ne { color: #a6e22e }
    /* NameFunction */  .nf { color: #a6e22e }
    /* NameOther */  .nx { color: #a6e22e }
    /* NameTag */  .nt { color: #f92672 }
    /* Literal */  .l { color: #ae81ff }
    /* LiteralDate */  .ld { color: #e6db74 }
    /* LiteralString */  .s { color: #e6db74 }
    /* LiteralStringAffix */  .sa { color: #e6db74 }
    /* LiteralStringBacktick */  .sb { color: #e6db74 }
    /* LiteralStringChar */  .sc { color: #e6db74 }
    /* LiteralStringDelimiter */  .dl { color: #e6db74 }
    /* LiteralStringDoc */  .sd { color: #e6db74 }
    /* LiteralStringDouble */  .s2 { color: #e6db74 }
    /* LiteralStringEscape */  .se { color: #ae81ff }
    /* LiteralStringHeredoc */  .sh { color: #e6db74 }
    /* LiteralStringInterpol */  .si { color: #e6db74 }
    /* LiteralStringOther */  .sx { color: #e6db74 }
    /* LiteralStringRegex */  .sr { color: #e6db74 }
    /* LiteralStringSingle */  .s1 { color: #e6db74 }
    /* LiteralStringSymbol */  .ss { color: #e6db74 }
    /* LiteralNumber */  .m { color: #ae81ff }
    /* LiteralNumberBin */  .mb { color: #ae81ff }
    /* LiteralNumberFloat */  .mf { color: #ae81ff }
    /* LiteralNumberHex */  .mh { color: #ae81ff }
    /* LiteralNumberInteger */  .mi { color: #ae81ff }
    /* LiteralNumberIntegerLong */  .il { color: #ae81ff }
    /* LiteralNumberOct */  .mo { color: #ae81ff }
    /* Operator */  .o { color: #f92672 }
    /* OperatorWord */  .ow { color: #f92672 }
    /* Comment */  .c { color: #75715e }
    /* CommentHashbang */  .ch { color: #75715e }
    /* CommentMultiline */  .cm { color: #75715e }
    /* CommentSingle */  .c1 { color: #75715e }
    /* CommentSpecial */  .cs { color: #75715e }
    /* CommentPreproc */  .cp { color: #75715e }
    /* CommentPreprocFile */  .cpf { color: #75715e }
    /* GenericDeleted */  .gd { color: #f92672 }
    /* GenericEmph */  .ge { font-style: italic }
    /* GenericInserted */  .gi { color: #a6e22e }
    /* GenericStrong */  .gs { font-weight: bold }
    /* GenericSubheading */  .gu { color: #75715e }
}
