#search {
    padding: .8rem 1rem;
    background: var(--light-background);
    border: 2px solid var(--border);
    width: 100%;
    max-width: 400px;
    border-radius: .35rem;
    font-size: 1rem;
    -webkit-appearance: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
    outline-offset: 0;
}