#search-query {
    padding: .8rem 1rem;
    background: var(--light-background);
    border: 2px solid var(--border);
    width: 100%;
    max-width: 400px;
    border-radius: .35rem;
    font-size: 1rem;
    -webkit-appearance: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
    outline-offset: 0;
}
#search-results {
    display: none;
}

.category-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
}

.category-filter {
    font-size: .85rem;
    padding: .5rem .75rem;
    background: #ebf1fe;
    border-radius: 4px;
    margin-right: .5rem;
    margin-bottom: .5rem;
    font-weight: 600;
    cursor: pointer;
}